<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ChaitanyaMarketPlace</display-name>
  <welcome-file-list>
    <welcome-file>/view/start.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/view/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>servlets.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/view/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/view/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>servlets.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/view/Add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>servlets.Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/view/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOut</display-name>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>servlets.CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/view/CheckOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Final</display-name>
    <servlet-name>Final</servlet-name>
    <servlet-class>servlets.Final</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Final</servlet-name>
    <url-pattern>/view/Final</url-pattern>
  </servlet-mapping>
</web-app>